<div class="section">
  <div class="container-fluid">
    <div class="row product">
      <div class="col-sm-6">
        <h2>Be notified only when it matters</h2>
        <div class="description">
          Alerting done right so nobody will be spammed or awakened for a problem not deserving it.
          <ul>
            <li><button class="btn btn-info flat label fa fa-warning"></button> Alerts based on stable qualitative aggegates.</li>
            <li><button class="btn btn-info flat label fa fa-cogs"></button> Configure easily thanks to traffic pattern learning.</li>
            <li><button class="btn btn-info flat label fa fa-ambulance"></button> Escalation only if it impacts businesses KPIs.</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6">
        <div id="carousel-alerts" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-alerts" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-alerts" data-slide-to="1"></li>
            <li data-target="#carousel-alerts" data-slide-to="2"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="/img/product/alerts-list.png" title="Alerts list" class="magnified" href="/img/product/alerts-list.png"></img>
            </div>
            <div class="item">
              <img lazy-src="/img/product/alerts-create.png" title="Alert Creation" class="magnified" href="/img/product/alerts-create.png"></img>
            </div>
            <div class="item">
              <img lazy-src="/img/product/alerts-history.png" title="Alerts Timeline" class="magnified" href="/img/product/alerts-history.png"></img>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
