<div class="section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-5">
        <h2>Be notified only when it matters</h2>
        <div class="description">
          Alerting done right so nobody will be spammed or awakened for a problem not deserving it.
          <ul>
            <li><button class="btn btn-info flat label fa fa-warning"></button>Alerts based on stable qualitative aggegates.</li>
            <li><button class="btn btn-info flat label fa fa-cogs"></button>Configure easily thanks to traffic pattern learning.</li>
            <li><button class="btn btn-info flat label fa fa-ambulance"></button>Escalation only if it impacts businesses KPIs.</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6 col-sm-offset-1">

      </div>
    </div>
  </div>
</div>
