<div class="section dark" id="crossroledata">
  <div class="title container-fluid">
    <h2>Cross role data makes the difference</h2>
    <p class="description">Intelligence IO gather monitoring and analytics data so you can break down data silos and make better decisions.</p>
  </div>
  <div class="container-fluid table">
    <div class="row header">
      <div class="col-xs-5 before">
        <h3>With data silos</h3>
      </div>
      <div class="col-xs-2 become">
      </div>
      <div class="col-xs-5 after">
        <h3>With cross role data</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-5 before">
        <p class="description">Unordererd list of performance problems.</p>
      </div>
      <div class="col-xs-2 becomes">
        <button class="btn btn-info flat"><span class="hidden-xs">becomes </span><i class="fa fa-chevron-right"></i></button>
      </div>
      <div class="col-xs-5 after">
        <p class="description">List of performance problems ordered by impact on user engagement or revenue.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-5 before">
        <p class="description">Monitoring alerts escalation on web performance threshold.</p>
      </div>
      <div class="col-xs-2 becomes">
        <button class="btn btn-info flat"><span class="hidden-xs">becomes </span><i class="fa fa-chevron-right"></i></button>
      </div>
      <div class="col-xs-5 after">
        <p class="description">Monitoring alerts escalation to technical and business teams based on impact on key business metrics.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-5 before">
        <p class="description">Web performance optimization is measured in milliseconds.</p>
      </div>
      <div class="col-xs-2 becomes">
        <button class="btn btn-info flat"><span class="hidden-xs">becomes </span><i class="fa fa-chevron-right"></i></button>
      </div>
      <div class="col-xs-5 after">
        <p class="description">Web performance optimization is measured in terms of bounce rate, page views, conversion rate, cart amount, items in cart.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-5 before">
        <p class="description">Conversion rate in China is 2.5%.</p>
      </div>
      <div class="col-xs-2 becomes">
        <button class="btn btn-info flat"><span class="hidden-xs">becomes </span><i class="fa fa-chevron-right"></i></button>
      </div>
      <div class="col-xs-5 after">
        <p class="description"> In China, if the website is 15% faster for desktop users, conversion rate would be 3%.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-5 before">
        <p class="description">Campaign A performs 5% better than campaign B.</p>
      </div>
      <div class="col-xs-2 becomes">
        <button class="btn btn-info flat"><span class="hidden-xs">becomes </span><i class="fa fa-chevron-right"></i></button>
      </div>
      <div class="col-xs-5 after">
        <p class="description">Campaign B would perform 10% better than campaign A if the landing page is optimized for iPad users.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-5 before">
        <p class="description">Search traffic performs better than Social traffic.</p>
      </div>
      <div class="col-xs-2 becomes">
        <button class="btn btn-info flat"><span class="hidden-xs">becomes </span><i class="fa fa-chevron-right"></i></button>
      </div>
      <div class="col-xs-5 after">
        <p class="description">When loadtime is below 4 seconds, revenue per session for social traffic is 30% higher than for search traffic.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-5 before">
        <p class="description">Reduce IT costs and fuel marketing.</p>
      </div>
      <div class="col-xs-2 becomes">
        <button class="btn btn-info flat"><span class="hidden-xs">becomes </span><i class="fa fa-chevron-right"></i></button>
      </div>
      <div class="col-xs-5 after">
        <p class="description">Give IT the infrastructure and resources they need to maximize growth and marketing ROI.</p>
      </div>
    </div>
  </div>
</div>
