<div class="section">
  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-6">

      </div>
      <div class="col-sm-6">
        <h2>Search and correlate metrics and events</h2>
        <div class="description">
          Send deployment, servers or business events through API. Intelligence IO supports full-text search over them allowing you to:
          <ul>
            <li><button class="btn btn-info flat label fa fa-flag-checkered"></button> Overlay metrics and events.</li>
            <li><button class="btn btn-info flat label fa fa-user"></button> Understand who did what in context.</li>
            <li><button class="btn btn-info flat label fa fa-thumb-tack"></button> Correlate and find the root cause.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
