<div class="section">
  <div class="container-fluid">
    <div class="row product">
      <div class="col-sm-6">
        <h2>Search and correlate metrics and events</h2>
        <div class="description">
          Send deployment, servers or business events through API. Intelligence IO supports full-text search over them allowing you to:
          <ul>
            <li><button class="btn btn-info flat label fa fa-flag-checkered"></button> Overlay metrics and events.</li>
            <li><button class="btn btn-info flat label fa fa-user"></button> Understand who did what in context.</li>
            <li><button class="btn btn-info flat label fa fa-thumb-tack"></button> Correlate and find the root cause.</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6">
        <div id="carousel-events" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-events" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-events" data-slide-to="1"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="/img/product/events-overlay.png" title="Overlay metrics and events" class="magnified" href="/img/product/events-overlay.png"></img>
            </div>
            <div class="item">
              <img lazy-src="/img/product/events-search.png" title="Full-text search over events" class="magnified" href="/img/product/events-search.png"></img>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
