<div class="section dark pre-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">Interested by 30 days of data and 4h of services for free?</div>
      <div class="col-xs-12"><a class="btn btn-warning btn-lg" role="button" href="/contact">contact us</a></div>
    </div>
  </div>
</div>
<div class="section footer-menu">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-xs-6">
        <h3>Product</h3>
        <ul>
          <li><a href="/product">Features</a></li>
          <li><a href="/product#stories">Stories</a></li>
          <li><a href="/pricing">Pricing</a></li>
        </ul>
        <h3>Services</h3>
        <ul>
          <li><a href="/services">Missions</a></li>
          <li><a href="/services#process">Process</a></li>
          <li><a href="/pricing#consulting">Pricing</a></li>
        </ul>
      </div>

      <div class="col-sm-3 col-xs-6">
        <h3>Company</h3>
        <ul>
          <li><a href="/about">About us</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/jobs">Jobs</a></li>
        </ul>
        <h3>Legal</h3>
        <ul>
          <li><a href="/tos">Terms of Service</a></li>
          <li>Privacy</li>
        </ul>
      </div>
      <div class="col-sm-3 col-xs-6">
        <h3>Documentation</h3>
        <ul>
          <li>Setup</li>
          <li>Custom attributes</li>
          <li>User timings</li>
          <li>Conversion metrics</li>
          <li>Alerts</li>
          <li>Explorer</li>
          <li>API</li>
        </ul>
      </div>
      <div class="col-sm-3 col-xs-6">
        <h3>Connect<span class="hidden-xs"> with us</span></h3>
        <ul>
          <li><i class="fa fa-twitter"></i> Twitter</li>
          <li><i class="fa fa-facebook"></i> Facebook</li>
          <li><i class="fa fa-github"></i> Github</li>
          <li><i class="fa fa-linkedin"></i> Linkedin</li>
          <li><i class="fa fa-rss"></i> Flipboard</li>
          <li><a href="mailto:contact@webperf.io"><i class="fa fa-envelope"></i> Email</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="section footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 hidden-xs">
        <hr/>
      </div>
      <div class="col-md-4">
        <p>made with <i class="fa fa-heartbeat"></i> in Montpellier</p>
        <p>&copy; 2015 WebPerf IO. All rights reserved.</p>
      </div>
      <div class="col-md-4 hidden-xs">
        <hr/>
      </div>
    </div>
  </div>
</div>
