<div id="quanta-bar">
  <a href="http://www.quanta-computing.com">Quanta</a> acquiert la solution <em>WebPerf.io</em> pour compléter sa solution de <span style="font-weight: bold">Web Performance Management</span> à destination des équipes digitales. <a href="https://www.quanta-computing.com/quanta-acquiere-webperf-io/">Voir le blog.</a>
</div>
<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <div class="navbar-brand">
        <a id="wpio_logo" href="/"><span>WebPerf</span> <span class="secondary">IO</span></a>
        <i id="heart_logo" class="heart fa fa-heartbeat"></i>
        <a id="quanta_logo" href="https://www.quanta-computing.com/"><img class="logo" src="/img/quanta-logo.png" alt="quanta computing"/></a>
      </div>
    </div>
       <!--div id="ribbon-container">
          <a href="https://www.quanta-computing.com/" id="ribbon">WebPerf IO a été acquis par <img class="logo" src="/img/quanta-logo.png" alt="quanta computing"/></a>
       </div-->
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="main-nav">
      <ul class="nav navbar-nav navbar-right">
        <!--li><a href="https://pesto.basilic.io/users/sign_in">Se connecter</a></li-->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
