<div class="orange">
  <div class="title container fadeInUp" data-wow-duration="600ms" data-wow-delay="400ms">
    <h2>Identify precisely the root cause.</h2>
    <p class="description">We make root cause identification easier, so you can resolve problems faster.</p>
  </div>
  <div class="container">
    <div class="row">
      <div class="feature col-sm-6 fadeInLeft" data-wow-duration="600ms" data-wow-delay="400ms">
        <p class="screenshot"><img class="img-responsive" src="/img/product/nta-explorer-nav-timings.png"><img></p>
      </div>
      <div class="feature col-sm-6 fadeInLeft" data-wow-duration="600ms" data-wow-delay="400ms">
        <p class="image"><span class="fa fa-server"></span></p>
        <p class="title">Tier</p>
        <p class="description small">Use navigation timings and know if a problem is related to DNS, HTTP connection, Time to first byte, DOM or content loading.</p>
      </div>
    </div>
    <div class="row">
      <div class="feature col-sm-6 fadeInRight" data-wow-duration="600ms" data-wow-delay="400ms">
        <p class="image"><span class="fa fa-file-code-o"></span></p>
        <p class="title">Content</p>
        <p class="description small">Segment measures by page type, measure each page block with user timings and analyse a page waterfall to identify content with problems.</p>
      </div>
      <div class="feature col-sm-6 fadeInRight" data-wow-duration="600ms" data-wow-delay="400ms">
        <p class="screenshot"><img class="img-responsive" src="/img/product/nta-explorer-nav-timings.png"><img></p>
      </div>
    </div>
    <div class="row">
      <div class="feature col-sm-6 fadeInLeft" data-wow-duration="600ms" data-wow-delay="400ms">
        <p class="screenshot"><img class="img-responsive" src="/img/product/nta-explorer-nav-timings.png"><img></p>
      </div>
      <div class="feature col-sm-6 fadeInLeft" data-wow-duration="600ms" data-wow-delay="400ms">
        <p class="image"><span class="fa fa-user"></span></p>
        <p class="title">User</p>
        <p class="description small">Segment by browser, device or ISP to understand which users are affected.</p>
      </div>
    </div>
  </div>
</div>
