<div class="blue">
  <div class="title container fadeInUp" data-wow-duration="600ms" data-wow-delay="400ms">
    <h2>Prioritize problems with high business impact.</h2>
    <p class="description">Web performance is a mean, not a goal. We help you keep focus on what matters.</p>
  </div>
  <div class="container ">
    <div class="row">
      <div class="feature col-sm-6 fadeInLeft" data-wow-duration="600ms" data-wow-delay="400ms">
        <p class="screenshot"><img class="img-responsive" src="/img/product/nta-explorer-nav-timings.png"><img></p>
      </div>
      <div class="feature col-sm-6 fadeInLeft" data-wow-duration="600ms" data-wow-delay="400ms">
        <p class="image"><span class="fa fa-bar-chart"></span></p>
        <p class="title">Evaluation</p>
        <p class="description small">Use navigation timings and know if the problem DNS, HTTP connection, Time to first byte, DOM or content loading related.</p>
      </div>
    </div>
    <div class="row">
      <div class="feature col-sm-6 fadeInRight" data-wow-duration="600ms" data-wow-delay="400ms">
        <p class="image"><span class="fa fa-connectdevelop"></span></p>
        <p class="title">Correlation</p>
        <p class="description small">Segment measures by page type, measure each page block with user timings and analyse page waterfall to identify content with problems.</p>
      </div>
      <div class="feature col-sm-6 fadeInRight" data-wow-duration="600ms" data-wow-delay="400ms">
        <p class="screenshot"><img class="img-responsive" src="/img/product/nta-explorer-nav-timings.png"><img></p>
      </div>
    </div>
    <div class="row">
      <div class="feature col-sm-6 fadeInLeft" data-wow-duration="600ms" data-wow-delay="400ms">
        <p class="screenshot"><img class="img-responsive" src="/img/product/nta-explorer-nav-timings.png"><img></p>
      </div>
      <div class="feature col-sm-6 fadeInLeft" data-wow-duration="600ms" data-wow-delay="400ms">
        <p class="image"><span class="fa fa-line-chart"></span></p>
        <p class="title">What if Analysis</p>
        <p class="description small">Segment by browser, device, country or ISP to understand which users are affected.</p>
      </div>
    </div>
  </div>
</div>
