<div class="section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-5">
        <h2>Resolve problems more efficiently</h2>
        <div class="description">
          Intelligence IO go beyond problems identification, it also makes resolution easier.
          <ul>
            <li><button class="btn btn-info flat label fa fa-dashboard"></button> WebPagetests on alerts.</li>
            <li><button class="btn btn-info flat label fa fa-star-half-o"></button> A/B test solution prototypes and providers.</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6 col-sm-offset-1">

      </div>
    </div>
  </div>
</div>
