<div class="section">
  <div class="container-fluid">
    <div class="row product">
      <div class="col-sm-6">
        <h2>Resolve problems more efficiently</h2>
        <div class="description">
          Intelligence IO goes beyond problems identification, it also makes resolution easier.
          <ul>
            <li><button class="btn btn-info flat label fa fa-dashboard"></button> WebPagetests on alerts.</li>
            <li><button class="btn btn-info flat label fa fa-star-half-o"></button> A/B test solution prototypes and providers.</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6">
        <div id="carousel-resolve" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-resolve" data-slide-to="0" class="active"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="/img/product/resolve-wpt.png" title="WebPagetest result" class="magnified" href="/img/product/resolve-wpt.png"></img>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
