<div class="purple">
  <div class="title container fadeInUp" data-wow-duration="600ms" data-wow-delay="400ms">
    <h2>Resolve problems and prove benefits.</h2>
    <p class="description">Compare solutions and measure impact on your KPIs.</p>
  </div>
  <div class="container">
    <div class="row">
      <div class="feature col-sm-6 fadeInLeft" data-wow-duration="600ms" data-wow-delay="400ms">
        <p class="screenshot"><img class="img-responsive" src="/img/product/nta-explorer-nav-timings.png"><img></p>
      </div>
      <div class="feature col-sm-6 fadeInLeft" data-wow-duration="600ms" data-wow-delay="400ms">
        <p class="image"><span class="fa fa-share-alt"></span></p>
        <p class="title">A/B Testing</p>
        <p class="description small">Use navigation timings and know if the problem DNS, HTTP connection, Time to first byte, DOM or content loading related.</p>
      </div>
    </div>
    <div class="row">
      <div class="feature col-sm-6 fadeInRight" data-wow-duration="600ms" data-wow-delay="400ms">
        <p class="image"><span class="fa fa-calculator"></span></p>
        <p class="title">Contribution analysis</p>
        <p class="description small">Segment measures by page type, measure each page block with user timings and analyze page waterfall to identify content with problems.</p>
      </div>
      <div class="feature col-sm-6 fadeInRight" data-wow-duration="600ms" data-wow-delay="400ms">
        <p class="screenshot"><img class="img-responsive" src="/img/product/nta-explorer-nav-timings.png"><img></p>
      </div>
    </div>
  </div>
</div>
