<div class="section">
  <div class="container-fluid">
    <div class="row product">
      <div class="col-sm-6">
        <h2>Measure web performance from your users perspective</h2>
        <div class="description">
          80% of the load time is spend in the browser. Intelligence IO gives you an exhausitve view on what is each user experience, on each content.
          <ul>
            <li><button class="btn btn-info flat label fa fa-dashboard"></button> Analyze navigation and user timings.</li>
            <li><button class="btn btn-info flat label fa fa-cut"></button> Slice by pagetype, device, ISP, or any other tag.</li>
            <li><button class="btn btn-info flat label fa fa-calculator"></button> Compute percentiles, average, satisfaction index on any period.</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6">
        <div id="carousel-rum" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-rum" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-rum" data-slide-to="1"></li>
            <li data-target="#carousel-rum" data-slide-to="2"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="/img/product/rum-nta.png"></img>
            </div>
            <div class="item">
              <img lazy-src="/img/product/rum-usertimings.png"></img>
            </div>
            <div class="item">
              <img lazy-src="/img/product/rum-slice.png"></img>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
