<div class="section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-5">
        <h2>Start learning in minutes</h2>
        <div class="description">
          Simple integration. No infrastructure load or page loadtime overhead.
          <ul>
            <li><button class="btn btn-info flat label">1</button> Add our tag on every page.</li>
            <li><button class="btn btn-info flat label">2</button> Tag custom metrics and segments</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6 col-sm-offset-1">
        <div role="tabpanel">
          <!-- Nav tabs -->
          <div class="tab-control">
            <ul class="nav nav-tabs nav" role="tablist">
              <li role="presentation" class="active"><a href="#conversion" aria-controls="conversion" role="tab" data-toggle="tab">Conversion</a></li>
              <li role="presentation"><a href="#usertiming" aria-controls="usertiming" role="tab" data-toggle="tab">User timing</a></li>
              <li role="presentation"><a href="#pagetype" aria-controls="pagetype" role="tab" data-toggle="tab">Page type</a></li>
            </ul>
          </div>
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="conversion">
              <pre>
FOGLIO.q('biz', {conversion:true, amount: 23.12, cart: 3})
              </pre>
            </div>
            <div role="tabpanel" class="tab-pane" id="usertiming">
              <pre>
FOGLIO.q('mark', {name:'header-end', value: new Date().getTime()})
              </pre>
            </div>
            <div role="tabpanel" class="tab-pane" id="pagetype">
              <pre>
FOGLIO.q('segment', {name: 'pagetype', value: 'home'})
              </pre>
            </div>

          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
