/*
*= require bootstrap.min.css
*= require fonts.css
*= require font-awesome.min.css
*/

body, div, p, h1, h2, h3, h4, h5, h6, input{
  margin:0;
  padding: 0;
  line-height: 1.5em;
}


/*GLOBAL*/

body, html, .carousel, .carousel-inner{
  color: #727272;
  background-color: #FAFAFA;
}



body {
  font-family: 'roboto', 'Helvetica', sans-serif;
}

.container-fluid{
  max-width: 1480px;
  padding: 0px 200px;
}

.navbar .container-fluid{
  max-width: 100%;
  padding: 0px 50px ;
}


@media(max-width:1480px){
  .container-fluid{
    padding: 0px 150px;
  }
}

@media(max-width:1080px){
  .container-fluid{
    padding: 0px 40px;
  }
}

@media(max-width:680px){
  .container-fluid{
    padding: 0px 20px;
  }
  .navbar .container-fluid{
    padding: 0px 20px;
  }
}

pre {
  padding: 30px 10px;
  background-color:transparent;
  border: 0px solid #ccc;
  color: #7A8A99;
  font-size: 11px;
}

/*BUTTONS*/

.btn{
  border: 0px solid #ffffff;
}

.btn-warning, .btn-warning:focus{
  background-color: #FF4081;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 0px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.60);
}

.btn-warning:hover{
  background-color: #EF3071;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.60)
}

.btn-info, .btn-info:focus{
  background-color: #00BCD4;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 0px;
  box-shadow: 0px 3px 6px rgba(51, 68, 85, 0.50);
}

.btn-info:hover{
  background-color: #00BFD9;
  box-shadow: 0px 4px 8px rgba(51, 68, 85, 0.50);
}

.btn.flat{
  box-shadow: 0px 0px 0px rgba(51, 68, 85, 0.50);
}


/*COLORS*/

h1, h2, h3, h4, h5, h6{
  color: #212121;
}


.dark h1,.dark h2,.dark h3,.dark h4,.dark h5,.dark h6{
  color: #ffffff;
}

.dark .description{
  color: #CFD8DC;
}

/*.dark .btn-warning,.dark .btn-warning:focus{
  background-color: #EC407A;
}*/

.secondary{
  color: #FF4081;
  font-weight: 400;
}

.fa.blue{
  color:  #00BCD4;
}


.item.blue{
  background-color: #00BCD4;
  color: #ffffff;
}

.green .fa{
  background-color: #CDDC39;
}

.orange .fa{
  background-color: #ffd54f;
}

.purple .fa{
  background-color: #ba68c8;
}

.light-bg{
  background-color: #f3f3f6;
  border: 1px 0px solid #f0f0f3;
}

.dark{
  background-color: #607D8B;
  color: #ffffff;
}

.darker{
  background-color: #455A64;
  color: #ffffff;
}

/*COMPONENTS*/

.section{
  padding-top: 30px;
  padding-bottom: 30px
}

.section .title{
  text-align: center;
  padding-bottom: 20px;
}

.section .title h2{
  font-size: 40px;
  font-weight: 300;
}

@media(max-width: 640px){
  .section .title h2{
    font-size: 26px;
    padding-top: 0px;
  }
}

.section .title h2 i{
  color: #00BCD4;
}

.section.dark .title h2 i{
  color: #ffffff;
}

.description{
  font-size: 16px;
  font-weight: 300;
  color: #727272;
}

.title .description{
  padding-bottom: 20px;
}

.description.small{
  font-size: 15px;
  font-weight: 300;
  margin: 0 15px;
}

.feature{
  padding: 30px 0;
  text-align: center;
}

.feature p.title{
  color: #212121;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
}


span.fa{
  width: 100px;
  height: 100px;
  line-height: 100px;
  font-size: 54px;
  color: #ffffff;
  background-color: #00BCD4;
  border-radius: 50px;
}

span.fa.small{
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 21px;
  color: #ffffff;
  background-color: #00BCD4;
  border-radius: 20px;
}

.godown{
  background-color: #607D8B;
  text-align:center;
  padding: 20px 0;
}

.godown a.fa, .godown a.fa:focus{
  text-decoration: none;
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 28px;
  color: #ffffff;
  background-color: #FF4081;
  border-radius: 30px;
  box-shadow: 0px 3px 6px rgba(51, 68, 85, 0.90);
}

.godown a.fa:hover{
  text-decoration: none;
  background-color: #FF4586;
  box-shadow: 0px 4px 8px rgba(51, 68, 85, 0.90);

}

/*MAIN NAV*/
.navbar {
  border-radius: 0px;
  border: 0px solid #ffffff;
  box-shadow: 2px 0px 8px #212121;
  font-weight: 300;
}

.navbar {
margin-bottom: 0px;
}

.navbar-brand i{
  color:#00BCD4;
  font-size: 1.2em;
  margin-top: -0.5em;
  margin-right: 0.3em;

}

.main-nav .navbar-default, .main-nav .navbar-default{
  background-color: #455A64;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffffff;
  padding: 25px 15px;
  font-weight: 300;
}

.navbar-default .navbar-brand span{
  font-weight: 400;
}

.navbar-default .navbar-toggle{
  border: 0px solid #dddddd;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
 background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
background-color: #ffffff;
}



.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
color: #ffffff;
padding: 25px;
}

.navbar-default .navbar-nav>li>a:hover {
  padding-bottom: 21px;
  border-bottom: 4px solid #ffffff;
}

.navbar-default .navbar-nav>li>a.btn:hover {
  border-bottom: 0px solid #00BCD4;
}

.navbar-default .navbar-nav>li.active>a, .navbar-default .navbar-nav>li.active>a:hover, .navbar-default .navbar-nav>li.active>a:focus {
  padding-bottom: 21px;
  border-bottom: 4px solid #FF4081;
  background-color: transparent;
  color: #FFFFFF;
}


.navbar-default .navbar-nav>li>a.btn, .navbar-default .navbar-nav>.active>a.btn{
  margin-top: 15px;
  padding: 10px 1em;
  color: #ffffff;
  background-color: #FF4081;
  border-color: #FF4081;
}

.navbar-default .navbar-nav>li>a.btn-warning:hover{
  background-color: #FF4586;
  border-color: #FF4586;
  color: #ffffff;
}

@media(max-width: 768px){
  .navbar-default .navbar-brand, .navbar-default .navbar-brand, .navbar-default .navbar-brand:hover{
    padding: 15px;
  }
  .navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:hover {
  padding: 15px 19px;
  border-bottom: 0px solid #FF4081;
  }

  .navbar-default .navbar-nav>li.active>a, .navbar-default .navbar-nav>li.active>a:hover {
    padding: 15px;
    border-bottom: 0px solid #FF4081;
    border-left: 4px solid #FF4081;
  }
}

/*SPLASH*/

.splash.blue{
  background-color: #00BCD4;
}

.splash{
  text-align: center;
  color: #ffffff;
}

.splash > .title{
  line-height: 2em;
}

.splash .title h1{
  color: #ffffff;
  line-height: 1.5em;
  font-size: 52px;
  font-weight: 400;
  padding-top: 60px;
}

.splash.dark .description{
  color: #ffffff;
}

@media(max-width: 1040px){
  .splash .title h1{
    font-size: 36px;
  }

  .splash.dark .description{
    font-size: 16px;
  }
}

/*key features*/

#key-features .item{
  padding: 40px 0 10px;
}


#key-features .item h2{
  font-weight: 300;
  font-size: 40px;
  padding-top: 30px;
  padding-bottom: 10px;
}

.carousel-indicators li {
  width: 14px;
  height: 14px;
  margin: 4px;
  border: 2px solid #607D8B;
}

.carousel-indicators li.active {
  width: 14px;
  height: 14px;
  margin: 4px;
  background-color: #607D8B;
}

.carousel .col-sm-6, .carousel .col-sm-offset-1{
  text-align: center;
}

.carousel .col-sm-4, .carousel .col-sm-5{
  padding-bottom: 40px;
}

.carousel img{
  margin: auto;
  height: 400px;
  padding-bottom: 55px;
  width: auto;
}

.carousel a{
  margin-top: 20px;
}

.carousel-indicators {
  bottom: 0px;
}

@media(max-width: 1180px){
  .carousel img{
    max-height: 350px;
    max-width: 100%;
  }
  #key-features .item h2{
    font-weight: 300;
    font-size: 32px;
    padding-top: 10px;
  }
}

@media(max-width: 680px){
  #key-features .item .description{
    font-size: 16px;
  }
}

/*Customers*/

/*#customers{
  padding-top: 50px;
}*/

.customers .col-xs-2{
  height: 70px;
  text-align: center;
}


.customers .col-xs-2 img{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.cust-lefigaro, .cust-leparisien, .cust-lequipe, .cust-maisonsdumonde, .cust-nouvelobs,
.cust-orange
{ width: 80%; background-size: 100%; background-image: url('/img/customers.png'); }

.cust-lefigaro { background-position: 0 0%;}
.cust-leparisien { background-position: 0 14.864865%;}
.cust-lequipe { background-position: 0 37.261146%;}
.cust-maisonsdumonde { background-position: 0 59.515571%;}
.cust-nouvelobs { background-position: 0 79.495268%;}
.cust-orange { background-position: 0 100%;}

/*Stories*/

.user-story{
  background-size: 100%;
  background-position: center top;
  background-repeat: no-repeat;
  margin-top: 40px;
  height: 450px;
  padding-top: 300px;

}

.user-story .story{
  height: 150px;
  background-color: rgba(51, 68, 85, 0.70);
  padding: 15px 30px;
}

.user-story .story .logo{
  text-align: center;
}

.user-story .story .logo{
  text-align: center;
}

.user1{
  background-image: url("/img/user1.jpg");
}

/*tabs*/

.nav-tabs {
 border-bottom: 0px solid #ddd;
}

.tab-control{
    margin-top: 40px;
    height: 2.5em;
    text-align: center;
    font-size: 12px;
}

.tab-control .nav>li>a{
    background-color: #B6B6B6;
    margin: 0;
    padding: 0 15px;
    line-height: 2.5em;
    color: #ffffff;
    text-decoration: none;
}

.tab-control .nav-tabs>li>a,
.tab-control .nav-tabs>.active>a:hover,
.tab-control .nav-tabs>.active>a:focus {
border: 0px solid #ddd;
border-radius:0;
}

.tab-control .nav-tabs .active a, .tab-control .nav-tabs .active a:focus{
  background-color: #EAECED;
  color: #7A8A99;
}

.tab-control .nav-tabs a:hover{
  background-color: #969696;
  color: #FFFFFF;
}

.tab-control .nav-tabs .active a:hover{
  background-color: #EAECED;
  color: #5A7A89;
}

.tab-content{
  overflow: scroll;
  background-color: #EAECED;
}

/*Product*/

.step{
  padding: 10px 0;
  font-size: 20px;
  color: #9AAAB9;
  font-weight: 300;
}

.step .fa{
  margin-right: 20px;
  text-align: center;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 25px;
  border-radius: 25px;
}

h2{
  font-weight: 300;
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.description ul{
  padding: 10px 0;
  margin: 0;
  list-style-type: none;
}

.description li{
  padding: 8px 0;
  font-size: 16px;
  font-weight: 300;
  color: #727272;
}

.description li .label{
  background-color: #00BCD4;
  margin-right: 6px;
  margin-top: -4px;
  padding: 0;
  font-size: 12px;
  line-height: 12px;
  height: 20px;
  width: 20px;
  border-radius: 10px;
}

/*Pricing*/
.box{
  background-color: #ffffff;
  box-shadow: 0px 2px 5px #999;
}

.box .title{
  text-transform: uppercase;
  font-size: 18px;
  padding: 20px 0;
  background-color: #607D8B;
  color: #ffffff;
}

.box .price{
  padding: 20px 0;
  text-align: center;
  font-size: 14px;
  line-height: 50px;
  color: #727272;
}

.box .price .number{
  font-size: 50px;
  color: #212121;
}

.box .price .currency{
  font-size: 25px;
  color: #727272;
  padding: 0 10px 0 5px;
}

.box ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.box li{
  padding: 16px 30px;
  font-size: 16px;
  border-top: 1px solid #DADADA;
  color: #727272;
  font-weight: 300;
}

.box li i.fa{
  padding-right: 12px;
  color: #607D8B;

}

/*Cross Role Data*/

#crossroledata .row{
  padding-top: 16px;

}

#crossroledata .row.header{
  padding-bottom: 24px;
}

.before{
  text-align: right;
}

.after{
  text-align: left;
}

.becomes{
  text-align: center;
}

.becomes button{
  height: 24px;
  padding: 2px 6px;
}

.before h3, .after h3{
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
}

.before p, .after p{
}

/*FOOTER*/
.pre-footer{
  text-align: center;
}

.pre-footer .col-xs-12{
  font-size: 28px;
  line-height: 2em;
  font-weight: 300;
}

.pre-footer .btn-lg{
  margin: 20px 0;
  font-size: 26px;
  padding: 0.5em 1.4em;
}


@media(max-width: 820px){
  .pre-footer .col-xs-12{
    font-size: 20px;
  }
  .pre-footer .btn-lg{
    margin-top: 20px;
    font-size: 18px;
    padding: 0.5em 1.4em;
  }

}


.footer-menu h3{
  padding-top: 20px;
  padding-bottom: 5px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
}

.footer-menu ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-menu li{
  color: #727272;
  font-size: 14px;
  line-height: 1.8em;
  font-weight: 400;
}

.footer-menu li i{
  width: 24px;
  text-align:center;

}

.footer-menu li a, .footer-menu li a:visited{
  text-decoration: none;
  color: #727272;
}

.footer-menu li a:hover, .footer-menu li a:active{
  text-decoration: none;
  color: #434343;
}

.footer {
  color: #727272;
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
  line-height: 1.5em;
  padding-top: 40px;
}

/*TOS*/
.tos h4{
  font-size: 28px;
  margin-top: 1.5em;
}

.tos h5{
  font-size: 22px;
  margin-top: 1.5em;
}

.tos h6{
  font-size: 20px;
  margin-top: 1.5em;
}

.tos p{
  font-size: 16px;
  line-height: 1.8em;
  margin-top: 1em;
}

.tos li{
  font-size: 16px;
  line-height: 1.8em;
  margin-top: 1em;
}
