/*
*= require bootstrap.min.css
*= require fonts.css
*= require font-awesome.min.css
*= require magnific-popup.css
*/

body, div, p, h1, h2, h3, h4, h5, h6, input, ul, li{
  margin:0;
  padding: 0;
  line-height: 1.7em;
  font-size: 18px;
}


/*GLOBAL*/

body,html{height:100%;}

body, html, .carousel, .carousel-inner{
  color: #5F5F5F;
  background-color: rgb(247, 249, 250);
}

.img-responsive{
  margin: 0 auto;
}

body {
  font-family: 'roboto', 'Helvetica', sans-serif;
  font-size: 16px;
}

pre {
  padding: 30px 10px;
  background-color:transparent;
  border: 0px solid #ccc;
  color: #7A8A99;
  font-size: 11px;
}

.btn{
  border-radius: 0px;
}

.btn-lg{
  border: 3px solid #ffffff;
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 10px;
  padding: 0.8em 2em;
}


/*FORMS*/
label{
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 2px;
}

/*COLORS*/

h1, h2, h3, h4, h5, h6{
  color: #333;
}


.dark h1,.dark h2,
.dark h3,.dark h4,
.dark h5,.dark h6,
.darker h1,.darker h2,
.darker h3,.darker h4,
.darker h5,.darker h6{
  color: #ffffff;
}

.darker p{
  color: #999999;
}

/*.dark .btn-warning,.dark .btn-warning:focus{
  background-color: #EC407A;
}*/

.primary{
  color: #00BCD4;
}

.secondary{
  color: #FF4081;
  font-weight: 400;
}

.darker{
  background-color: #2b333b;
  color: #ffffff;
}

.btn-warning , .btn-warning:focus{
  background-color: #FF4081;
  border: 3px solid #FF4081;
  border-bottom: 3px solid #cF2061;
}

.btn-warning:hover{
  background-color: #FF4081;
  border: 3px solid #cF2061;
}

/*MAIN NAV*/
.navbar {
  padding-top: 10px;
  border-radius: 0px;
  border: 0px solid #ffffff;
}

.navbar li a{
  font-weight: 400;
  font-size: 12px;
}

.navbar-default{
  background-color: rgb(247, 249, 250);
}

.navbar {
margin-bottom: 0px;
}

.navbar-brand{
  font-size: 24px;
}

.navbar-brand span{
  position: relative;
  top: -0.15em;
}

.navbar-brand i{
  color:#00BCD4;
  font-size: 1.5em;
  margin-right: 0.3em;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  padding: 25px 15px;
  font-weight: 300;
}

.navbar-default .navbar-brand span.secondary{
  font-weight: 400;
}

.navbar-default .navbar-toggle{
  border: 0px solid #dddddd;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
 background-color: transparent;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
padding: 34px;
}

.navbar-default .navbar-nav>li>a:hover {
  padding-bottom: 21px;
}

.navbar-default .navbar-nav>li>a.btn:hover {
  border-bottom: 0px solid #00BCD4;
}

.navbar-default .navbar-nav>li>a{
  /*color: #00BCD4;*/
  text-transform: uppercase;
  background-color: transparent;
  padding-bottom: 21px;
}

.navbar-default .navbar-nav>li>a:hover{
  color: #00BCD4;
}


.navbar-default .navbar-nav>li>a.btn,
.navbar-default .navbar-nav>.active>a.btn{
  margin-top: 15px;
  padding: 10px 1em;
  color: #ffffff;
  background-color: #FF4081;
  border-color: #FF4081;
}

.navbar-default .navbar-nav>li>a.btn-warning:hover{
  background-color: #FF4586;
  border-color: #FF4586;
  color: #ffffff;
}

@media(max-width: 768px){
  .navbar-default .navbar-brand,
  .navbar-default .navbar-brand,
  .navbar-default .navbar-brand:hover{
    padding: 15px;
  }
  .navbar-default .navbar-nav>li>a,
  .navbar-default .navbar-nav>li>a:hover {
  padding: 15px 19px;
  border-bottom: 0px solid #FF4081;
  }

  .navbar-default .navbar-nav>li.active>a,
  .navbar-default .navbar-nav>li.active>a:hover {
    padding: 15px;
    border-bottom: 0px solid #FF4081;
    border-left: 4px solid #FF4081;
  }
}


/*COMPONENTS*/

.section{
  padding-top: 100px;
  padding-bottom: 100px;
}

.blog .section, .section.tos{
  padding-top: 40px;
  padding-bottom: 20px;
}

.section.darker{
  padding-top: 80px;
  padding-bottom: 80px;
}

.section .container{
  padding-bottom: 20px;
}

.section h2{
  font-size: 36px;
  font-weight: 300;
  text-align: center;
}

.blog .section h2{
  text-align: left;
  font-size: 30px;
}

@media(max-width: 640px){
  .section h2{
    font-size: 26px;
    padding-top: 0px;
  }
}

.section h2 i{
  color: #00BCD4;
}

.section.dark h2 i{
  color: #ffffff;
}

.description{
  font-size: 16px;
  font-weight: 300;
  color: #727272;
}

.title .description{
  padding-bottom: 20px;
}

.highlight.col-md-4{
  padding: 10px 30px 0 30px;
  text-align: center;
}

.highlight p{
  margin-top: 20px;
  font-weight: 300;
  font-size: 18px;
  line-height: 2em;
}

.highlight h3{
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
}



.dark .highlight .title{
  color: #ffffff;
}

span.fa{
  line-height: 2em;
  font-size: 34px;
  color: #00BCD4;
}

span.fa.small{
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 21px;
  color: #ffffff;
  background-color: #00BCD4;
  border-radius: 20px;
}

.section .col2{
  padding-top: 100px;
}

.section .col-md-6{
  text-align: left;
  padding: 0 30px;
}

.section .col-md-6 h3 {
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 10px;
}

.section .col-md-6 p{
  font-size: 18px;
  font-weight: 300;
  line-height: 1.75em;
}

.section .col-md-6 .img-responsive{
  padding: 0;
}

.section .col-sm-2 .img-responsive{
  padding: 0 20px;
  max-width: 150px;
}

.section .col-sm-2{
  padding-bottom: 20px;
}

.section.testimonial{
  padding-bottom: 30px;
}

.section.testimonial .col-sm-4{
  text-align: left;
  padding: 0px 0px 50px;
}

.section.testimonial .col-sm-4{
  text-align: left;
  padding: 0px 0px 50px;
}

@media(max-width: 980px){
  .section.testimonial .col-sm-4{
    padding: 0px 30px 50px;
  }
  .section .col-sm-2 .img-responsive{
    max-width: 120px;
  }
}

@media(max-width: 768px){
  .section.testimonial .col-sm-4{
    padding: 0px 30px 50px;
  }
  .section .col-sm-2 .img-responsive{
    max-width: 150px;
  }
  .section .col-md-6 .img-responsive{
    padding: 20px 0;
  }
}


.section.testimonial .col-sm-4 p{
  color: #dddddd;
  padding-bottom: 20px;
}

.section.testimonial .col-sm-4 h4{
  color: #777;
  font-weight: 400;
}

.section.features .row{
  padding-top: 40px;
}

.section.features .col-md-6, .section.features .col-sm-6{
  padding-top: 40px;
}

.section.features .col-md-6 i, .section.features .col-sm-6 i{
  width: 40px;
  padding-right: 10px;
  font-size: 30px;
  color: #00BCD4;
}
.section.features .col-md-6 h3, .section.features .col-sm-6 h3{
  line-height: 30px;
}

.section.features .col-md-6 p, .section.features .col-sm-6 p{
  padding-left: 40px;
}

.section.contact h2{
  padding-bottom: 30px;
}

/*SPLASH*/

.section.home{
  background-image: url(/img/home.png);
  background-color: rgb(247, 249, 250);
  background-size: contain;
  background-origin: padding-box;
  background-position: center bottom;
  background-repeat: no-repeat;
  height: 990px;
  padding-top: 80px;
}

@media(max-width: 1580px){
  .section.home{
    height: 960px;
  }
}

@media(max-width: 1480px){
  .section.home{
    height: 930px;
  }
}

@media(max-width: 1380px){
  .section.home{
    height: 900px;
  }
}

@media(max-width: 1280px){
  .section.home{
    height: 860px;
  }
}

@media(max-width: 1080px){
  .section.home{
    height: 830px;
  }
}

@media(max-width: 1030px){
  .section.home{
    height: 800px;
  }
}

@media(max-width: 980px){
  .section.home{
    height: 780px;
  }
}

@media(max-width: 880px){
  .section.home{
    height: 730px;
  }
}

@media(max-width: 580px){
  .section.home{
    height: 680px;
  }
}

.splash.blue{
  background-color: #00BCD4;
}

.splash{
  text-align: center;
}

.splash > .title{
  line-height: 2em;
  padding-top: 0px;
}

.splash .title h1{
  line-height: 1.5em;
  font-size: 46px;
  font-weight: 300;
}

.splash .description{
  padding-top: 20px;
  line-height: 2em;
  font-size: 18px;
  font-weight: 300;
}


.splash.notfound{
  padding: 160px 0;
}

.splash.notfound .title h1{
  font-size: 182px;
  font-weight: 400;
}


.splash.notfound.dark .description{
  font-size: 26px;
}

.splash.dark .description{
  color: #ffffff;
}

@media(max-width: 1040px){
  .splash .title h1{
    font-size: 34px;
  }

  .splash.notfound .title h1{
    font-size: 102px;
  }

  .splash .description{
    font-size: 16px;
  }
  .splash.notfound.dark .description{
    font-size: 18px;
  }
}



@media(max-width: 640px){
  .splash{
      padding-top: 0px;
  }

  .splash .title h1{
    font-size: 20px;
  }

  .splash.notfound .title h1{
    font-size: 102px;
  }

  .splash .description{
    font-size: 16px;
    text-align: left;
    padding: 30px 10px
  }
  .splash.notfound.dark .description{
    font-size: 18px;
  }
}



/*Customers*/

/*Pricing*/
.plan{
  text-align: center;
  margin-bottom: 30px;
}
.plan .title{
  text-transform: uppercase;
  font-size: 16px;
  padding: 24px 0 16px;
  font-weight: 600;
}

.plan .description{
  font-size: 18px;
  font-weight: 300;
  margin: 0;
  padding: 0.5em 0;
}

.plan .darker .description{
  font-size: 16px;
}

.plan .darker .description{
  color: #e0e0e0;
  padding-bottom: 1em;
}

.plan .darker .description a, .plan .darker .description a:hover, .plan .darker .description a:focus{
  color: #FF4081;
  text-decoration: none;
}

.plan .price{
  font-size: 60px;
  font-weight: 300;
  margin: 0;
  padding: 0;
  line-height: 1em;
}


/*CONTACT*/
.contact .col-sm-offset-1 {
  padding-bottom: 50px;
}

.contact ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.contact .btn-lg{
  padding: 0.5em 2em;
}

.contact li{
  margin-bottom: 0.8em;
  font-weight: 300;
  line-height: 1.5em;
}

.contact li i{
  margin-right: 12px;
  color: #00BCD4;
}

/*BLOG*/

.excerpt{
  margin-bottom: 50px;
}

.excerpt .meta{
  font-weight: 400;
  margin-bottom: 20px;
}

.excerpt .description{
  margin-bottom: 20px;
}

.blog h2 a, .blog h2 a:hover, .blog h2 a:focus{
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  font-weight: 400;
}

.blog .more a, .blog .more a:hover, .blog .more a:focus{
  color: #00BCD4;
  text-decoration: none;
  cursor: pointer;
}

.post-header h2{
  font-size: 38px;
  font-weight: 500;
}

.post-header .meta{
  font-weight: 400;
  margin-bottom: 40px;
  margin-top: 10px;
}

.post-content ul{
  margin-top: 0;
}

.post-content li{
  font-weight: 300;
  line-height: 1.7em;
}

.post-content p{
  font-weight: 300;
  line-height: 1.7em;
  margin-bottom: 1em;
}

.post-content h3{
  font-weight: 400;
  font-size: 24px;
  margin: 40px 0 10px;
}

.post-content h4{
  font-weight: 400;
  font-size: 18px;
  margin: 20px 0 10px;
}

/*FOOTER*/
.pre-footer{
  text-align: center;
}

.pre-footer h3{
  font-size: 24px;
  font-weight: 300;
  padding-bottom: 20px;
}

.footer{
  background-color: #181d23;
}

.footer .nav-pills li a, .footer .nav-pills li a:hover, .footer .nav-pills li a:focus, .footer .nav-pills li a:active{
  color: #777;
  background-color: transparent;
  font-weight: 300;
  font-size: 16px
}

.footer .nav-pills li a:hover{
  color: #dddddd;
}

/*.footer-menu h3{
  padding-top: 20px;
  padding-bottom: 5px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
}

.footer-menu ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-menu li{
  color: #727272;
  font-size: 14px;
  line-height: 1.8em;
  font-weight: 400;
}

.footer-menu li i{
  width: 24px;
  text-align:center;

}

.footer-menu li a,
.footer-menu li a:visited{
  text-decoration: none;
  color: #727272;
}

.footer-menu li a:hover,
.footer-menu li a:active{
  text-decoration: none;
  color: #434343;
}

.footer {
  color: #727272;
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
  line-height: 1.5em;
  padding-top: 40px;
}*/

/*TOS*/
.tos h4{
  font-size: 28px;
  margin-top: 1.5em;
}

.tos h5{
  font-size: 22px;
  margin-top: 1.5em;
}

.tos h6{
  font-size: 20px;
  margin-top: 1.5em;
}

.tos p{
  font-size: 16px;
  line-height: 1.8em;
  margin-top: 1em;
}

.tos li{
  font-size: 16px;
  line-height: 1.8em;
  margin-top: 1em;
}
